{{define "nav"}}
  <nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="#" class="text-white text-lg font-semibold">Phones</a>

      <div class="flex items-center space-x-4">
        <a href="/phones/input" class="text-white hover:underline">Input</a>
        <a href="/phones/output" class="text-white hover:underline">Output</a>
      </div>
    </div>
  </nav>
{{end}}